/* Basics */
body {
    Margin : 0!important;
    padding : 0;
    min-width: 100%;
    background-color : #ffffff;
}
table {
    border-spacing : 0;
    font-family : sans-serif;
    color : #333333;
}
td {
    padding : 0;
}
img {
    border : 0;
}
/* Fixes unwanted padding in Android native mail client */
div[style*="margin: 16px 0"] {
    margin : 0!important;
}
/* fixes for text resizing and keeping content centered in Yahoo */
.wrapper {
    width : 100%;
    table-layout : fixed;
    -webkit-text-size-adjust : 100%;
    -ms-text-size-adjust : 100%;
}
.webkit {
    max-width : 600px;
    /* margin : 0 auto; */
}
/* if you capitalize the 'm' in Margin, outlook.com won't strip it out */
.outer {
    Margin : 0 auto;
    width : 100%;
    max-width : 600px;
}
/* width of 600 in the html for outlook, but overriden here for other clients */
.full-width-image img {
    width : 100%;
    /* max-width : 600px; */
    height : auto;
}
/* Windows Phone Viewport Fix */
@-ms-viewport {
    width : device-width;
}
.inner {
    padding : 10px;
}
p {
    Margin : 0;
}
a {
    color : #ee6a56;
    text-decoration : underline;
}
/* class="h1" used vs h1 since outlook.com ALWAYS overrides h1, h2, and h3 styles */
.h1 {
    font-size : 21px;
    font-weight : bold;
    Margin-bottom : 18px;
}
.h2 {
    font-size : 21px;
    font-weight :  bold;
    Margin-bottom : 18px;
}
.contents {
    width : 100%;
}


/* One column layout */
.one-column .contents {
    text-align : left;
}
.one-column p {
    font-size : 14px;
    Margin-bottom : 10px;
}

/* Two column layout */
.two-column {
    text-align : center;
    font-size : 0;
}
.two-column .column {
    width : 100%;
    max-width : 300px;
    display : inline-block;
    vertical-align : top;
}
.two-column .contents {
    font-size : 14px;
    text-align : left;
}
.two-column img {
    width : 100%;
    /* max-width : 280px; */
    height : auto;
}
.two-column .text {
    padding-top : 10px;
}

/* Three column layout */
.three-column {
    text-align: center;
    font-size : 0;
    padding-top : 10px;
    padding-bottom: 10px;
}
.three-column .column {
    width : 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.three-column .contents {
    font-size: 14px;
    text-align: center;
}
.three-column img {
    width : 100%;
    /* max-width: 180px; */
    height : auto;
}
.three-column .text {
    padding-top : 10px;
}

/* Left Sidebar layout */
.left-sidebar {
    text-align: center;
    font-size: 0;
}
.left-sidebar .column {
    width : 100%;
    display: inline-block;
    vertical-align: middle;
}
.left-sidebar .left {
    max-width: 100px;
}
.left-sidebar .right {
    max-width : 500px;
}
.left-sidebar img {
    width : 100%;
    max-width: 80px;
    height : auto;
}
.left-sidebar .contents {
    font-size: 14px;
    text-align: center;
}
.left-sidebar a {
    color : #85ab70;
}

/* Right Sidebar layout */
.right-sidebar {
    text-align: center;
    font-size: 0;
}
.right-sidebar .column {
    width : 100%;
    display: inline-block;
    vertical-align: middle;
}
.right-sidebar .left {
    max-width: 100px;
}
.right-sidebar .right {
    max-width : 500px;
}
.right-sidebar img {
    width : 100%;
    max-width: 80px;
    height : auto;
}
.right-sidebar .contents {
    font-size: 14px;
    text-align: center;
}
.right-sidebar a {
    color : #70bbd9;
}

/* Media Queries for Progressive Enhancement */

/* make images full-width below 400px vs aligned width on outlook */
@media screen and (max-width: 400px) {
    .two-column .column,
    .three-column .column {
        max-width: 100%!important;
    }
    .two-column img {
        max-width : 100%!important;
    }
    .three-column img {
        max-width : 50%!important;
    }
}

/* make 2 and 3 columns responsive for 401px - 600px */
@media screen and (min-width: 401px) and (max-width: 620px) {
    .three-column .column {
        max-width: 33%!important;
    }
    .two-column .column {
        max-width: 50%!important;
    }
}












